body {
    margin: auto;
    padding: 50px;
    color: #000;
    font-family: 'Lato', sans-serif;
}

/* Box (for corners & padding) */
.box {
    padding-left: 20px;
    border-radius: 10px;
    background-color: #ddd;
}

/* Set up grids... specifics */

/*  #### Grid for Main page #### */
.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "banner"
        "nav"
        "main"
        "footer";
        grid-gap: 4px;
}

.banner {
    grid-area: banner;
}

.nav {
    grid-area: nav;
    background-color: #876648; /*Shadow*/
    color: rgb(255,255,255);
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    padding: 20px;
    vertical-align: middle;
    border: solid 1px;
}

.main {
    grid-area: main;
    background-color: #E0D1C6; /*Wafer*/
    font-family: 'Raleway', sans-serif;
    border: solid 1px #CCC;
}

.footer {
    grid-area: footer;
    text-align: right;
    padding: 20px;
    background-color: #452F1F; /*Iroko*/
    border: solid 1px #bbb;
    font-family: 'Roboto', sans-serif;
    color: rgb(255,255,255);
}

.linkwrapper {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-areas: 
        "commonsearches topsearch topadmin dropdown";
    grid-gap: 4px;
}

.quicksearch {
    border-radius: 5px 0 0 5px; 
    display: inline-block;
}

.quick-choose{
    padding: 10px;
    border: solid 1px #000
}


.commonsearches {
    grid-area: commonsearches;
    text-align: center;
}

.topsearch {
    grid-area: topsearch;
    text-align: right;
}

.dropdown {
    grid-area: dropdown;
    max-width: 600px;
    margin: auto;
}
.custom-dropdown {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.topadmin {
    grid-area: topadmin;
    text-align: center;
}

/* ### Additional div styling (put colours / corners here) */

/* Area colouring... */

/* logo, banner and footer background are the same */
.banner{
    background-color: #AB1320; /*Tamarillo*/
    border: solid 1px #bbb;
    font-family: 'Roboto', sans-serif;
    color: rgb(255,255,255);
}

/* #### Links Styling  #### */
/* Navigation Links */
a.topnav {font-weight: bold;}
a.topnav:link, a.topnav:visited {color: #E0D1C6;} /*dark teal */
a.topnav:hover {color: #ffe08b; text-decoration: none;} 

/* links in page */
a {font-weight: bold;}
a:link{color: #E0D1C6;} /* dark teal */
a:visited{color: #AB1320;} /* dark grey */
a:hover{color: #ffe08b;}    /* Dark Green*/

.results {
    background-color: #fff;
    border: 1px solid #AB1320;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/* #### Headings / text styling #### */
.h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 30px;
}

h2, h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 25px;
}

h4 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.important {
    background-color: rgb(160, 0, 0);
    padding: 10px;
    border-radius: 10px;
    border-style: inset;
    border-width: 3px;
    border-color: #fff;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
}

.important2 {
    background-color: rgb(160, 0, 0);
    padding: 5px;
    border-radius: 5px;
    border-style: inset;
    border-width: 1px;
    border-color: #fff;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: bold;
}

.light_blue {
    background-color: rgb(0, 97, 60);
    padding: 10px;
    border-radius: 10px;
    border-style: inset;
    border-width: 3px;
    border-color: #fff;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
}

.sub_heading {
    font-family: 'Ubuntu', sans-serif;
    color: #593849; /* purple */
    font-weight: bold;
}

/* ### Form / Search  Styling #### */

.tag {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #000;
    border-radius: 5px;
}

.subject-tag {
    background-color: bisque;
}

.white-tag {
    background-color: #fff;
}

.no-results {
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    background-color: rgb(231, 77, 77);
    border: solid 1px rgb(160, 0, 0);
    border-radius: 5px;
}

.error {
    padding: 5px;
    padding-right: 5px;
    color: #fff;
    background-color: rgb(231, 77, 77);
    border: solid 1px rgb(160, 0, 0);
    border-radius: 5px;
}


form {
    width: 100%;
    padding: 10px;
}

.search {
    background:#fff;
    width: 200px;
}

.submit::-moz-focus-inner { 
    border: 0;
}


.submit {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position:relative;
    width: 45px;
    font-size: 14px;
    
    left:-5px;
    background-color: #636263; 
    color:#d6d3d7;
    border: 1px solid #000;
    border-radius: 0 5px 5px 0;   
    display: inline-block;
    padding: 10px;
}

.tools {
    text-align: right;
    padding-right: 20px;
}

input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
}

.admin-form {
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.form-submit {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}


input {
    font-size: 14px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #000;
    box-sizing: border-box; 
    width: 100%;
    border-radius: 5px;
}

.review {
    background-color: #fff;
    border: 1px solid #AB1320;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}


/* alleged reules for navigation on smaller screens */
@media only screen and (max-width: 1175px) {
    .linkwrapper{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "commonsearches topadmin"
        "topsearch topsearch"
        "dropdown";
    }

    /* Adjust alignment of content on smaller screens */
    .commonsearches{
        text-align: left;
    
    }

    .topsearch{
        width: 100%;
        text-align: left;
    }
    .dropdown{
        width: 100%;
        text-align: left;
    }

    .topadmin{
        text-align: right;
    }
    

}
